.advantages {
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 42px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  font-size: 36px;
  font-weight: 400;
  text-transform: none;
  line-height: 60px;
}

.advantages__item {
  box-sizing: border-box;
  position: relative;

  display: flex;
  align-items: center;
  min-height: 60px;
  padding-left: 80px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::before {
    content: "";
    position: absolute;

    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: 5px 5px;
  }

  &--healthy {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-leaf@2x.png");
        background-size: 50px auto;
      }
    }
  }

  &--flour {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-powder@2x.png");
        background-size: 50px auto;
      }
    }
  }

  &--replaceable {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-dining@2x.png");
        background-size: 50px auto;
      }
    }
  }

  &--fast {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-clock@2x.png");
        background-size: 50px auto;
      }
    }
  }
}

.advantages__text {
  @include arial;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 708px;
    margin-bottom: 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__title {
    width: 708px;
    margin-bottom: 72px;
    font-size: 60px;
  }

  .advantages__item {
    width: 235px;
    min-height: 230px;
    padding-left: 0;
    padding-top: 112px;
    margin-right: 88px;
    align-items: stretch;

    &:not(:last-child) {
      margin-bottom: 87px;
    }

    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &::before {
      width: 80px;
      height: 80px;

      background-position: 15px 15px;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;

      font-family: "Oswald", sans-serif;
      font-size: 281px;
      line-height: 205px;
      color: #f2f2f2;
    }

    &--healthy {
      &::after {
        content: "1";
      }
    }

    &--flour {
      &::after {
        content: "2";
      }
    }

    &--replaceable {
      &::after {
        content: "3";
      }
    }

    &--fast {
      &::after {
        content: "4";
      }
    }
  }

  .advantages__text {
    z-index: 2;

    @include arial-tablet;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1220px;
    margin-bottom: 24px;

    &::after {
      display: none;
    }
  }

  .advantages__title {
    width: 1220px;
  }

  .advantages__item {
    margin-right: 0;

    &:nth-last-child(3),
    &:nth-last-child(4) {
      margin-bottom: 0;
    }
  }
}
