.form {
  font-size: 16px;
  line-height: 18px;
}

.form__description {
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-right: 10%;

  font-size: 14px;
  line-height: 18px;
  color: #111111;
}

.form__person {
  box-sizing: border-box;
  width: 280px;
  min-height: 163px;
  margin: 0 auto;
  margin-bottom: 23px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: space-between;
}

.form__label {
  margin-right: 16px;

  color: #222222;
}

.form__input {
  box-sizing: border-box;
  width: 160px;
  height: 45px;
  margin: 0;
  padding-left: 16px;
  padding-right: 40px;
  flex-grow: 1;

  border: 1px solid rgba(205, 205, 205, 0.5);

  @include oswald;

  &:not(:last-child) {
    margin-bottom: 13px;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:active {
    border: 2px solid #444444;
  }

  &:invalid {
    border: 2px solid #ff8282;
  }
}

.form__program-wrapper {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 28px;

  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.form__program {
  box-sizing: border-box;
  width: 280px;
  min-height: 116px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.form__label--radio {
  position: relative;
  margin-right: 0;
  line-height: 30px;

  &:not(:last-child) {
    margin-bottom: 13px;
  }

  &::before {
    content: "";

	display: inline-block;
	vertical-align: top;
    box-sizing: border-box;
	height: 30px;
	width: 30px;
	margin-right: 13px;

    border-radius: 50%;
    border: 1px solid #cdcdcd;
  }
}

.form__radio {
  &:checked + .form__label--radio::after {
    content: "";

    position: absolute;
    top: 9px;
    left: 9px;
    width: 12px;
    height: 12px;

    border-radius: 50%;

    background-color: #68b738;
  }

  &:hover + .form__label--radio::before {
    border: 1px solid #bababa;
  }

  &:active + .form__label--radio::before,
  &:active + .form__label--radio::after,
  &:active + .form__label--radio {
    opacity: 0.3;
  }
}

.form__contacts,
.form__comment,
.form__extra {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 15px;
    display: block;
    width: 100%;
    height: 3px;

    background-color: #68b738;
  }
}

.form__title-wrapper {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 34px;
  display: flex;
  align-items: center;
}

.form__title {
  max-width: 182px;
  margin: 0;
  padding-left: 20px;
  padding-right: 22px;

  background-color: white;

  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  color: #111111;
}

.form__contacts-wrapper {
  box-sizing: border-box;
  width: 280px;
  min-height: 104px;
  margin: 0 auto;
  margin-bottom: 29px;
  display: flex;
  flex-wrap: wrap;

  align-content: space-between;
}

.form__contacts-item {
  display: flex;
  align-items: baseline;
  flex-grow: 1;

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.form__input--contacts {

  &:not(:last-child) {
    margin-bottom: 0;
  }
}

.form__input-wrapper {
  display: flex;
  flex-grow: 1;
}

.form__textarea {
  display: block;
  box-sizing: border-box;
  width: 280px;
  min-height: 150px;
  margin: 0 auto;
  margin-bottom: 28px;
  padding: 13px;

  resize: none;

  border: 1px solid rgba(205, 205, 205, 0.5);

  @include oswald;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:active {
    border: 2px solid #444444;
  }
}

.form__extra-wrapper {
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.form__label--checkbox {
  position: relative;
  margin-right: 0;
  line-height: 30px;

  &:not(:last-child) {
    margin-bottom: 13px;
  }

  &::before {
    content: "";

	display: inline-block;
	vertical-align: top;
    box-sizing: border-box;
	height: 30px;
	width: 30px;
	margin-right: 13px;

    border: 1px solid #cdcdcd;
  }
}

.form__checkbox {
  &:checked + .form__label--checkbox::before {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: 21px auto;
    background-position: top 6px left 4px;
  }

  &:hover + .form__label--checkbox::before {
    border: 1px solid #bababa;
  }

  &:active + .form__label--checkbox::before,
  &:active + .form__label--checkbox {
    opacity: 0.3;
  }
}

.form__submit {
  display: block;
  width: 280px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 20px;

  border: none;
  background-color: #68b738;

  @include oswald;
  color: white;

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.form__legend {
  margin-bottom: 31px;

  @include arial;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .form {
    font-size: 20px;
    line-height: 20px;
  }

  .form__description {
    box-sizing: border-box;
    width: 628px;
    padding-right: 300px;
    margin-bottom: 65px;

    font-size: 20px;
    line-height: 30px;
  }

  .form__person {
    width: 628px;
    margin-bottom: 72px;
  }

  .form__input {
    width: 490px;
    height: 52px;
    padding-left: 20px;
    padding-right: 50px;

    @include oswald-tablet;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .form__program-wrapper {
    width: 628px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 28px;
    padding-right: 28px;
    margin-bottom: 75px;


    border: 1px solid #ededed;
  }

  .form__program {
    width: auto;
    margin: 0;
  }

  .form__label--radio {
    line-height: 40px;

    &::before {
      height: 40px;
      width: 40px;
      margin-right: 20px;
    }
  }

  .form__radio {
    &:checked + .form__label--radio::after {
      top: 11px;
      left: 11px;
      width: 18px;
      height: 18px;
    }
  }

  .form__contacts,
  .form__comment,
  .form__extra {

    &::after {
      top: 22px;
    }
  }

  .form__title-wrapper {
    width: 708px;
    margin-bottom: 76px;
  }

  .form__title {
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;

    font-size: 36px;
    line-height: 36px;
  }

  .form__contacts-wrapper {
    width: 628px;
    margin-bottom: 65px;
  }

  .form__input--contacts {

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .form__contacts-item {

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .form__textarea {
    width: 628px;
    min-height: 174px;
    padding-left: 19px;
    padding-top: 10px;
    margin-bottom: 65px;

    font-size: 20px;
    line-height: 30px;
  }

  .form__title-wrapper--extra {
    margin-bottom: 57px;
  }

  .form__extra-wrapper {
    width: 628px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 54px;
  }

  .form__label--checkbox {
    width: 284px;

    line-height: 40px;

    &::before {
      height: 40px;
      width: 40px;
    }

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    &:nth-last-child(3) {
      margin-bottom: 0;
    }
  }

  .form__checkbox {
    &:checked + .form__label--checkbox::before {
      background-size: 21px auto;
      background-position: top 10px left 10px;
    }
  }

  .form__submit-wrapper {
    width: 628px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .form__submit {
    width: 283px;
    height: 52px;
    margin: 0;

    font-size: 20px;
  }

  .form__legend {
    width: 283px;
    margin-bottom: 72px;

    @include arial-tablet;
    text-align: left;
    line-height: 52px;
  }
}

@media (min-width: $desktop-width) {
  .form__description {
    box-sizing: border-box;
    width: 1220px;
    padding-right: 864px;
  }

  .form__wrapper{
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 69px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form__person {
    width: 570px;
    margin: 0;
  }

  .form__program-wrapper {
    width: 570px;
    margin: 0;
  }

  .form__input {
    width: 75%;
  }

  .form__title-wrapper {
    width: 1300px;
  }

  .form__contacts-wrapper {
    width: 1220px;
    min-height: auto;
    margin-bottom: 67px;
    justify-content: space-between;
  }

  .form__contacts-item {
    width: 570px;
    flex-grow: 0;

    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }

  .form__textarea {
    width: 1220px;
    margin-bottom: 67px;
  }

  .form__extra-wrapper {
    width: 1220px;
    margin-bottom: 61px;
  }

  .form__label--checkbox {
    width: 245px;

    &:nth-last-child(3),
    &:nth-last-child(5),
    &:nth-last-child(7){
      margin-bottom: 0;
    }
  }

  .form__submit-wrapper {
    width: 1220px;

  }

  .form__submit {
    width: 568px;
  }

  .form__legend {
    width: 568px;
    margin-bottom: 82px;
  }
}
