.other {
  width: 100%;
  min-height: 210px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-top: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;

  text-align: center;
}

.other__plus {
  display: block;
  width: 31px;
  height: 31px;
  margin-bottom: 22px;

  background-image: url("../img/icon-plus-mobile.svg");
  background-repeat: no-repeat;
  background-size: 31px auto;
}


.other__title {
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 20px;
}

.other__text {
  @include arial-before;
  line-height: 16px;
}

.other__link {
  display: block;
  width: 100%;
  margin-top: auto;

  background-color: #f2f2f2;

  font-size: 16px;
  line-height: 40px;
  color: #444444;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .other {
    width: 324px;
    min-height: 432px;
    margin-top: 82px;
    margin-bottom: 58px;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 40px;
    padding-top: 55px;
    border: 1px solid #ededed;
  }

  .other__plus {
    width: 61px;
    height: 61px;
    margin-bottom: 50px;

    background-image: url("../img/icon-plus.svg");
    background-repeat: no-repeat;
    background-size: 61px auto;
  }

  .other__title {
    width: 60%;
    margin-bottom: 28px;

    font-size: 20px;
    line-height: 20px;
  }

  .other__text {
    width: 70%;
    line-height: 16px;

    @include arial-tablet;
  }
}

@media (min-width: $desktop-width) {
  .other {
    width: 245px;
    min-height: 432px;
  }

  .other__title {
    width: 100%;
    margin-bottom: 23px;

    font-size: 20px;
    line-height: 20px;
  }

  .other__text {
    width: 100%;
    line-height: 20px;

    @include arial-tablet;
  }
}
