.page-header {
  box-sizing: border-box;
  min-width: 320px;
  min-height: 65px;
  border-bottom: 1px solid #e7e7e7;
}

.page-header__wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  padding-top: 11px;
  padding-bottom: 16.3px;
  
}

.page-header__link {
  display: block;
  line-height: 0;
  
  &:hover {
    opacity: 0.8;
  }
  
  &:active {
    opacity: 0.6;
  }
}

.page-header__toggle {
  width: 25px;
  height: 18px;
  padding: 0;
  margin-top: 12px;
  border: none;
  background-color: transparent;
  background-image: url("../img/mobile-menu-svg.svg");
  background-repeat: no-repeat;
}

.page-header__toggle--close {
  height: 19px;
  background-image: url("../img/m-close-svg.svg");
  background-position: center;
  background-size: 19px 19px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 708px;
    margin: 0 auto;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    border: none;
  }
  
  .page-header__logo-image {
    width: 174px;
    height: auto;
  }

  .page-header__wrapper {
    width: auto;
    padding: 0;
    margin: 0;
    
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
    z-index: 2;
    width: 1220px;
    min-height: 142px;
    padding-top: 53px;
  }
  
  .page-header__logo-image {
    width: 203px;
    height: auto;
  }
}
