.page-main {
  position: relative;
  padding-top: 27px;

  background-image: url(../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
  
  &::before {
    content: "";

    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;

    width: 100%;
    padding-top: 90%;
    background-color: #68b738;
  }
}

.page-main--other {
  background-image: none;
  
  &::before {
    display: none;
  }
}

.page-main__title {
  width: 280px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 36px;
  text-transform: none;
  line-height: 36px;

  text-align: center;
  color: white;
}

.page-main__title--catalog {
  margin-bottom: 40px;

  color: #111111;
}

.page-main__title--form {
  margin-bottom: 35px;
  
  color: #111111;
}

@media (min-width: $tablet-width) {
  .page-main {
    padding-top: 58px;
    background-image: none;
    
    &::before {
      display: none;
    }
  }

  .page-main--other {
    padding-top: 56px;
    background-image: none;
  }

  .page-main__title {
    width: 528px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #111111;
  }

  .page-main__title--catalog {
    width: 708px;
    margin: 0 auto;
    margin-bottom: 83px;

    text-align: left;
  }

  .page-main__title--form {
    width: 708px;
    margin: 0 auto;
    margin-bottom: 56px;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    z-index: 2;
    position: relative;

    padding-top: 80px;
    background-image: url(../img/index-can-desktop@1x.png);
    background-repeat: no-repeat;
    background-size: 552px auto;
    background-position: top right 328px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-desktop@2x.png");
      background-size: 552px auto;
      background-position: top right 328px;
    }
  }

  .page-main--other {
    padding-top: 46px;
    background-image: none;
  }

  .page-main__title {
    box-sizing: border-box;
    width: 1060px;
    margin: 0 auto;
    padding-right: 530px;;
  }

  .page-main__title--catalog {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 83px;

    text-align: left;
  }

  .page-main__title--form {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 56px;

    text-align: left;
  }
}
