.page-footer {
  min-width: 320px;
  height: 150px;

  background-color: #f2f2f2;
}

.page-footer__logo {
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
  min-height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__link {
  margin-top: 10px;
}

.page-footer__social {
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.page-footer__social-item {
  width: 30px;
  height: 30px;
  margin-right: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #666666;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: #68b738;
  }

  &:active {
    color: #68b738;
    opacity: 0.3;
  }
}

.page-footer__copyright {
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__copyright-link {
  display: block;

  @include arial;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright-logo {
  width: 27px;
  height: 34px;
  display: block;

  color: #666666;

  &:hover {
    color: #68b738;
  }

  &:active {
    color: #68b738;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    align-items: center;
  }

  .page-footer__wrapper {
    width: 708px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    width: 162px;
    min-height: 24px;
    margin: 0;
    justify-content: flex-start;

    border-bottom: none;
  }

  .page-footer__social {
    margin: 0;
    height: 63px;

    border-bottom: none;
  }

  .page-footer__social-item--vk svg {
    width: 30px;
    height: 16px;
  }

  .page-footer__social-item--insta svg {
    width: 23px;
    height: 23px;
  }

  .page-footer__social-item--fb svg {
    width: 14px;
    height: 28px;
  }

  .page-footer__copyright {
    box-sizing: border-box;
    width: 162px;
    margin: 0;
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__copyright-link {
    @include arial-tablet;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1220px;
  }
}
