.result-stats__wrapper {
  width: 280px;
  margin: 0 auto;
}

.result-stats__index {
  font-size: 24px;
  line-height: 24px;
}

.result-stats__cost {
  line-height: 20px;
}

.result-stats__result {
  font-size: 16px;
  line-height: 20px;
}
