.search-program {
  box-sizing: border-box;
  width: 280px;
  min-height: 401px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 19px;
  padding-bottom: 22px;

  background-image: url("../img/index-can-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.search-program__title {
  margin: 0;
  padding: 0;

  text-align: center;
  font-size: 14px;
  font-weight: 400;

}


.search-program__link {
  background-color: #68b738;

  text-align: center;
  color: white;
  line-height: 40px;
}
