.search-program {
  box-sizing: border-box;
  width: 280px;
  min-height: 401px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 19px;
  padding-bottom: 22px;

  background-image: url("../img/index-can-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.search-program__title {
  margin: 0;
  padding: 0;

  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.search-program__link {
  background-color: #68b738;

  text-align: center;
  color: white;
  line-height: 40px;
}

@media (min-width: $tablet-width) {
  .search-program {
    padding-top: 33px;
    justify-content: flex-start;
    width: 708px;
    min-height: 684px;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: center top 75px;
  }

  .search-program__title {
    margin-left: 90px;
    margin-bottom: 46px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: black;
  }

  .search-program__link {
    width: 245px;
    margin-left: 90px;

    font-size: 20px;
    line-height: 52px;
  }
}

@media (min-width: $desktop-width) {
  .search-program {
    width: 1060px;
    min-height: 460px;
    margin: 0 auto;

    background-image: none;
  }

  .search-program__title {
    margin-left: 0;
  }

  .search-program__link {
    margin-left: 0;
  }
}
