.search-program {
  background-image: url(../img/index-can-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: top 64px;
  
  color: white;
}

.search-program__link {
  background-color: #68b738;
}