@import "visually-hidden.scss";
@import "mixin.scss";
@import "page-header.scss";
@import "site-list.scss";
@import "page-main.scss";
@import "search-program.scss";
@import "program-block.scss";
@import "advantages.scss";
@import "example.scss";
@import "result-stats.scss";
@import "contacts.scss";
@import "page-footer.scss";

// Oswald-Regular
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff"),
       url("../fonts/oswaldregular.woff2");
}

// Oswald-Medium
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff"),
       url("../fonts/oswaldmedium.woff2");
}

body {
  min-width: 320px;
  margin: 0px;
  padding: 0px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}
